In [1]:
import numpy as np
import pandas as pd
oil = pd.read_csv('C:/Users/Abdullah Rashid/Desktop/Data Analysis with Python Udemy Course/Pandas+Course+Resources/Pandas Course Resources/retail/oil.csv').dropna()
oil_array = np.array(oil['dcoilwtico'].iloc[1000:1100])
oil_series = pd.Series(oil_array,name='Oil Series')
oil_series

0     52.22
1     51.44
2     51.98
3     52.01
4     52.82
      ...
95    45.84
96    47.28
97    47.81
98    47.83
99    48.86
Name: Oil Series, Length: 100, dtype: float64

In [13]:
date_array = np.array(oil['date'].iloc[1000:1100])
oil_series.index = date_array
oil_series1= (oil_series*1.1) + 2
oil_series1

2016-12-20    59.442
2016-12-21    58.584
2016-12-22    59.178
2016-12-23    59.211
2016-12-27    60.102
               ...
2017-05-09    52.424
2017-05-10    54.008
2017-05-11    54.591
2017-05-12    54.613
2017-05-15    55.746
Name: Oil Series, Length: 100, dtype: float64

In [14]:
max_oil_price = oil_series.max()
max_oil_price

54.48

In [16]:
perc_diff = (((max_oil_price - oil_series)/(max_oil_price)) * 100).astype('int').astype('string')+' %'
perc_diff

2016-12-20     4 %
2016-12-21     5 %
2016-12-22     4 %
2016-12-23     4 %
2016-12-27     3 %
              ...
2017-05-09    15 %
2017-05-10    13 %
2017-05-11    12 %
2017-05-12    12 %
2017-05-15    10 %
Name: Oil Series, Length: 100, dtype: string

In [31]:
Month = perc_diff.index.str[5:7].astype('int')  # Month is extracted and converted into int type
Month

Int64Index([12, 12, 12, 12, 12, 12, 12, 12,  1,  1,  1,  1,  1,  1,  1,  1,  1,
             1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  2,  2,  2,  2,  2,
             2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  3,  3,  3,  3,
             3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,
             3,  3,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,
             4,  4,  4,  4,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5],
           dtype='int64')

In [32]:
pd.Series(Month)  #Months extracted are converted into separate series

0     12
1     12
2     12
3     12
4     12
      ..
95     5
96     5
97     5
98     5
99     5
Length: 100, dtype: int64