In [4]:
import numpy as np
import pandas as pd

# Reading the file from specific location and empty one are droped and referred the file to variable name oil
# Then array is created named oil_array that contains last 100 elements of column name dcoilwtico in the oil.csv
# Then array is conveterd into pandas series datatype to use the functionalities of pandas linrary
oil = pd.read_csv('C:/Users/Abdullah Rashid/Desktop/Data Analysis with Python Udemy Course/Pandas+Course+Resources/Pandas Course Resources/retail/oil.csv').dropna()
oil_array = np.array(oil['dcoilwtico'].iloc[1000:1100])
oil_series = pd.Series(oil_array,name='Oil Series')
oil_series

0     52.22
1     51.44
2     51.98
3     52.01
4     52.82
      ...
95    45.84
96    47.28
97    47.81
98    47.83
99    48.86
Name: Oil Series, Length: 100, dtype: float64

In [5]:
date_array = np.array(oil['date'].iloc[1000:1100]) # from the file data in variable 'oil' date column values are chosen against last 100 elements  
date_array

array(['2016-12-20', '2016-12-21', '2016-12-22', '2016-12-23',
       '2016-12-27', '2016-12-28', '2016-12-29', '2016-12-30',
       '2017-01-03', '2017-01-04', '2017-01-05', '2017-01-06',
       '2017-01-09', '2017-01-10', '2017-01-11', '2017-01-12',
       '2017-01-13', '2017-01-17', '2017-01-18', '2017-01-19',
       '2017-01-20', '2017-01-23', '2017-01-24', '2017-01-25',
       '2017-01-26', '2017-01-27', '2017-01-30', '2017-01-31',
       '2017-02-01', '2017-02-02', '2017-02-03', '2017-02-06',
       '2017-02-07', '2017-02-08', '2017-02-09', '2017-02-10',
       '2017-02-13', '2017-02-14', '2017-02-15', '2017-02-16',
       '2017-02-17', '2017-02-21', '2017-02-22', '2017-02-23',
       '2017-02-24', '2017-02-27', '2017-02-28', '2017-03-01',
       '2017-03-02', '2017-03-03', '2017-03-06', '2017-03-07',
       '2017-03-08', '2017-03-09', '2017-03-10', '2017-03-13',
       '2017-03-14', '2017-03-15', '2017-03-16', '2017-03-17',
       '2017-03-20', '2017-03-21', '2017-03-22', '2017-03-23',
       '2017-03-24', '2017-03-27', '2017-03-28', '2017-03-29',
       '2017-03-30', '2017-03-31', '2017-04-03', '2017-04-04',
       '2017-04-05', '2017-04-06', '2017-04-07', '2017-04-10',
       '2017-04-11', '2017-04-12', '2017-04-13', '2017-04-17',
       '2017-04-18', '2017-04-19', '2017-04-20', '2017-04-21',
       '2017-04-24', '2017-04-25', '2017-04-26', '2017-04-27',
       '2017-04-28', '2017-05-01', '2017-05-02', '2017-05-03',
       '2017-05-04', '2017-05-05', '2017-05-08', '2017-05-09',
       '2017-05-10', '2017-05-11', '2017-05-12', '2017-05-15'],
      dtype=object)

In [6]:
oil_series2 = pd.Series(oil_array,index = date_array,name='Oil Series with date index') # used pandas custom index
oil_series2  # oil_series.index = date_array will also give same result

2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: Oil Series with date index, Length: 100, dtype: float64

In [8]:
meanF10 = oil_series2.loc['2016-12-20' : '2017-01-04'].mean()  # oil_series2.iloc[:10].mean() will also give same result
meanF10  # first 10 prices against date index

52.765

In [11]:
meanL10 = oil_series2.loc['2017-05-02':'2017-05-15'].mean()  # oil_series2.iloc[-10:].mean() will also give same result
meanL10 #last 10 prices agains date index

47.129999999999995

In [12]:
specific_oil_prices = oil_series2.loc['2017-01-01':'2017-01-07']
specific_oil_prices  # specific prices are selected against a duration given

2017-01-03    52.36
2017-01-04    53.26
2017-01-05    53.77
2017-01-06    53.98
Name: Oil Series with date index, dtype: float64

In [14]:
specific_oil_prices.reset_index(drop = True)   # index is set to default and previuos custom is removed by drop = True parameter inside reset_index function

0    52.36
1    53.26
2    53.77
3    53.98
Name: Oil Series with date index, dtype: float64