In [28]:
import numpy as np
import pandas as pd
oil = pd.read_csv('C:/Users/Abdullah Rashid/Desktop/Data Analysis with Python Udemy Course/Pandas+Course+Resources/Pandas Course Resources/retail/oil.csv').dropna()
oil_array = np.array(oil['dcoilwtico'].iloc[1000:1100])
oil_series = pd.Series(oil_array,name='Oil Series')
date_array = np.array(oil['date'].iloc[1000:1100])
oil_series.index = date_array
oil_series

2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: Oil Series, Length: 100, dtype: float64

In [29]:
oil_series = oil_series.where(~oil_series.isin([51.44,47.83]), np.NaN) # Different from numpy's where() function.
oil_series

2016-12-20    52.22
2016-12-21      NaN
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12      NaN
2017-05-15    48.86
Name: Oil Series, Length: 100, dtype: float64

In [31]:
oil_series.isna().sum()

2

In [32]:
oil_series.fillna(oil_series.median())

2016-12-20    52.220
2016-12-21    52.205
2016-12-22    51.980
2016-12-23    52.010
2016-12-27    52.820
               ...
2017-05-09    45.840
2017-05-10    47.280
2017-05-11    47.810
2017-05-12    52.205
2017-05-15    48.860
Name: Oil Series, Length: 100, dtype: float64