In [1]:
import numpy as np
import pandas as pd
oil = pd.read_csv('C:/Users/Abdullah Rashid/Desktop/Data Analysis with Python Udemy Course/Pandas+Course+Resources/Pandas Course Resources/retail/oil.csv').dropna()
oil_array = np.array(oil['dcoilwtico'].iloc[1000:1100])
oil_series = pd.Series(oil_array,name='Oil Series')
date_array = np.array(oil['date'].iloc[1000:1100])
oil_series.index = date_array
oil_series

2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: Oil Series, Length: 100, dtype: float64

In [10]:
oil_series1 = oil_series[oil_series.index.str[5:7]=='03']
oil_series1

2017-03-01    53.82
2017-03-02    52.63
2017-03-03    53.33
2017-03-06    53.19
2017-03-07    52.68
2017-03-08    49.83
2017-03-09    48.75
2017-03-10    48.05
2017-03-13    47.95
2017-03-14    47.24
2017-03-15    48.34
2017-03-16    48.30
2017-03-17    48.34
2017-03-20    47.79
2017-03-21    47.02
2017-03-22    47.29
2017-03-23    47.00
2017-03-24    47.30
2017-03-27    47.02
2017-03-28    48.36
2017-03-29    49.47
2017-03-30    50.30
2017-03-31    50.54
Name: Oil Series, dtype: float64

In [11]:
oil_series1.sum()

1134.5399999999997

In [12]:
oil_series1.mean()

49.32782608695651

In [15]:
oil_series2 = oil_series[(oil_series.index.str[5:7]=='01') | (oil_series.index.str[5:7]=='02')]
oil_series2  # oil_series[oil_series.index.str[5:7].isin(['01','02'])].count() can also be used

2017-01-03    52.36
2017-01-04    53.26
2017-01-05    53.77
2017-01-06    53.98
2017-01-09    51.95
2017-01-10    50.82
2017-01-11    52.19
2017-01-12    53.01
2017-01-13    52.36
2017-01-17    52.45
2017-01-18    51.12
2017-01-19    51.39
2017-01-20    52.33
2017-01-23    52.77
2017-01-24    52.38
2017-01-25    52.14
2017-01-26    53.24
2017-01-27    53.18
2017-01-30    52.63
2017-01-31    52.75
2017-02-01    53.90
2017-02-02    53.55
2017-02-03    53.81
2017-02-06    53.01
2017-02-07    52.19
2017-02-08    52.37
2017-02-09    52.99
2017-02-10    53.84
2017-02-13    52.96
2017-02-14    53.21
2017-02-15    53.11
2017-02-16    53.41
2017-02-17    53.41
2017-02-21    54.02
2017-02-22    53.61
2017-02-23    54.48
2017-02-24    53.99
2017-02-27    54.04
2017-02-28    54.00
Name: Oil Series, dtype: float64

In [16]:
oil_series2.count()

39

In [17]:
oil_series.quantile([0.1,0.9])

0.1    47.299
0.9    53.811
Name: Oil Series, dtype: float64

In [35]:
oil_series_int = oil_series.astype('int')
oil_series_int1 = oil_series_int[(oil_series_int == 52)|(oil_series_int == 51)]
oil_series_int1.count()

29

In [38]:
oil_series.astype('int').value_counts(normalize = True)

53    0.26
52    0.22
47    0.13
48    0.10
51    0.07
50    0.07
49    0.06
54    0.05
45    0.02
46    0.02
Name: Oil Series, dtype: float64

In [37]:
oil_series.head()

2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
Name: Oil Series, dtype: float64